﻿@model Chat.Models.User;

    <div class="card">
        <div class="card-body">
            <h1>Вход в чат</h1>
        </div>
    </div>
    <div class="card" style="margin-top: 30px;">
        <div class="card-body">
            <form asp-action="Index" asp-controller="Auth" method="post">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" asp-for="Username" value="" placeholder="Ваше имя" pattern="^[a-zA-Z0-9]{3,10}$" required>
                    <br />
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
                <button class="btn btn-success">Отправить</button>
                <div asp-validation-summary="ModelOnly" id="error-list" class="alert alert-danger" role="alert"></div>
            </form>
            </div>
</div>