﻿@model Chat.ViewModels.ChatViewModel;


    <div class="card">
        <div class="card-body">
            <h1>Добро пожаловать в чат, @Model.User.Username</h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div>
                <form asp-action="Index" method="get" style="width: 100%">
               
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Текст искомого сообщения" aria-label="Текст искомого сообщения" aria-describedby="basic-addon2" name="searchQuery">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                        </div>
                    </div>
                </form>
                <form asp-action="Index" method="get" style="margin-top: 30px;">
                    <span class="input-group-btn">
                        <button class="btn btn-outline-primary">Обновить чат</button>
                    </span>
                </form>
            </div>
        </div>
        </div>
    <div class="card">
        <div class="card-body">
            <div class="panel-body">
                <ul class="chat" id="messageList">
                    @foreach (var message in Model.Messages)
                    {
                        <li>@message.User.Username: @message.Content</li>
                    }
                </ul>
            </div>
            </div>
        </div>
    <div class="card">
        <div class="card-body">
            <form asp-action="SendMessage" method="post">
                <input type="hidden" id="userName" asp-for="Message.User.Username" value="@Model.User.Username">

                @if (!Model.IsTimeout)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Сообщение</span>
                                </div>
                                <textarea class="form-control" asp-for="Message.Content" type="text" class="form-control input-sm" aria-label="Сообщение" placeholder="Введите сообщение..." maxlength="250" required></textarea>
                            </div>
                            <button class="btn btn-warning btn-sm" id="sendButton" style="margin-top: 30px;">Отправить</button>
                        </div>
                    </div>
                }
                else
                {

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Сообщение</span>
                        </div>
                        <textarea class="form-control" asp-for="Message.Content" type="text" class="form-control input-sm" aria-label="Сообщение" placeholder="Введите сообщение..." maxlength="250" disabled></textarea>
                    </div>
                    <button class="btn btn-warning btn-sm" id="sendButton" disabled style="margin-top: 30px;">Отправить</button>
      
                            <div class="alert alert-warning" role="alert" style="margin-top: 30px;">
                                У вас таймаут еще @Model.TimeoutSeconds сек.
                            </div>

                        }
                  
                </form>
                
            </div>
        </div>
